.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.booking-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
}

.card {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    background-color: #fff;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-checkbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.card-content {
    flex-grow: 1;
    margin-right: 10px; /* Add some space between content and checkbox */
}

.total-section {
    margin-top: 20px;
    text-align: center;
}

.checkout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #0056b3;
}