.eticket-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f5f5f5;
	padding: 20px;
	box-sizing: border-box;
}

.eticket {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 600px;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.logo {
	width: 80px;
}

.title {
	text-align: right;
}

.main-title {
	font-size: 20px;
	font-weight: bold;
}

.subtitle {
	font-size: 0.9em;
	color: #666;
}

.booking-info,
.passenger-details,
.bus-details,
.additional-info {
	margin-bottom: 20px;
}

.section-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.passenger-details table {
	width: 100%;
	border-collapse: collapse;
}

.passenger-details td {
	padding: 5px;
	border: 1px solid #ddd;
}

.additional-info ul {
	list-style-type: disc;
	padding: 0;
	font-size: small;
	padding: 5px 0 0 20px;
}

.additional-info li {
	margin-bottom: 5px;
}

button {
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #333;
}
